* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #c5e4e7;
  font-family: "Space Mono", monospace;
  margin-bottom: 20px;
}

body main .contenedor {
  background: white;
  text-align: justify;
  padding: 30px;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .contenedor .texto {
  color: #818283;
  font-family: "Space Mono", monospace;
  font-weight: 600;
  margin-top: 20px;
  font-size: 20px;
  display: inline-block;
}

body main .contenedor .izquierda {
  width: 48%;
  margin-right: 5px;
}

body main .contenedor .izquierda .input {
  text-align: right;
  border-style: none;
  font-size: 24px;
  background: rgba(0, 73, 77, 0.131);
  width: 100%;
  height: 50px;
  color: #00494d;
  outline: none;
  padding-right: 20px;
  font-weight: 600;
}

body main .contenedor .izquierda .contenedor_bill {
  margin-bottom: 30px;
  position: relative;
}

body main .contenedor .izquierda .contenedor_bill .bill:focus {
  border: 2px solid #26c0ab;
  border-radius: 5px;
}

body main .contenedor .izquierda .contenedor_bill .dolar {
  position: absolute;
  font-size: 24px;
  margin: 12px 0 0 5px;
  color: rgba(0, 73, 77, 0.412);
  top: 50px;
  left: 10px;
}

body main .contenedor .izquierda .contenedor-botones {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 10px;
}

body main .contenedor .izquierda .contenedor-botones a {
  display: inline-block;
  text-align: center;
}

body main .contenedor .izquierda .contenedor-botones .general-form {
  width: 30%;
  height: 40px;
  margin: 5px 0;
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  color: white;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .contenedor .izquierda .contenedor-botones .button {
  background: #00494d;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

body main .contenedor .izquierda .contenedor-botones .button:focus {
  background: #26c0ab;
  color: #00494d;
}

body main .contenedor .izquierda .contenedor-botones .button:hover {
  cursor: pointer;
}

body main .contenedor .izquierda .contenedor-botones .custom {
  outline: none;
  color: #00494d;
  background: #d0cdcd;
  text-align: center;
  font-weight: 600;
}

body main .contenedor .izquierda .contenedor-botones .custom:focus {
  border: 2px solid #26c0ab;
  border-radius: 5px;
}

body main .contenedor .izquierda .contenedor-people {
  position: relative;
  overflow: visible;
  margin-bottom: 10px;
}

body main .contenedor .izquierda .contenedor-people .persona {
  position: absolute;
  font-size: 24px;
  margin: 22px 0 0 5px;
  color: rgba(0, 73, 77, 0.412);
  top: 50px;
  left: 10px;
}

body main .contenedor .izquierda .contenedor-people .numPeople {
  margin-top: 10px;
}

body main .contenedor .izquierda .contenedor-people .aviso-error {
  color: red;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 200;
  display: none;
}

body main .contenedor .derecha {
  background: #00494d;
  width: 48%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

body main .contenedor .derecha .texto-pr {
  color: rgba(255, 255, 255, 0.802);
  font-size: 20px;
  margin: 30px 0 0 20px;
}

body main .contenedor .derecha .texto-sc {
  color: #5e7a7d;
  margin-left: 20px;
}

body main .contenedor .derecha .contenedor-amount, body main .contenedor .derecha .contenedor-total {
  width: 49.5%;
  position: absolute;
}

body main .contenedor .derecha .contenedor-amount {
  top: 20px;
  left: 5%;
}

body main .contenedor .derecha .contenedor-total {
  top: 100px;
  left: 5%;
}

body main .contenedor .derecha .input-total, body main .contenedor .derecha .input-amount {
  font-size: 40px;
  text-align: right;
  font-family: "Space Mono", monospace;
  font-weight: 600;
  border-style: none;
  background: none;
  color: #26c0ab;
  width: 49.5%;
  outline: none;
  position: absolute;
}

body main .contenedor .derecha .input-total {
  right: 50px;
  top: 125px;
}

body main .contenedor .derecha .input-amount {
  right: 50px;
  top: 45px;
}

body main .contenedor .derecha .contenedor-reset {
  width: 100%;
  position: absolute;
  bottom: 2rem;
}

body main .contenedor .derecha .contenedor-reset .reset {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 40px;
  display: block;
  text-decoration: none;
  padding: 5px 0;
  font-size: 20px;
  background: rgba(89, 232, 213, 0.118);
  border-radius: 5px;
  border-style: none;
  color: #00494d;
  outline: none;
  cursor: pointer;
}

body main .contenedor .derecha .contenedor-reset .reset:hover {
  background: #59e8d5;
}

h1 {
  font-size: 30px;
  margin: 80px 0 40px 0;
  font-weight: 600;
  color: #00494d;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 1170px) {
  body main .contenedor {
    width: 90%;
  }
  body main .contenedor .derecha {
    margin-top: 20px;
    min-height: 270px;
  }
  body main .contenedor .derecha .contenedor-total {
    top: 100px;
    left: 10%;
  }
  body main .contenedor .derecha .contenedor-amount {
    left: 10%;
  }
  body main .contenedor .derecha .input-total {
    right: 10%;
    top: 120px;
    font-size: 35px;
  }
  body main .contenedor .derecha .input-amount {
    right: 10%;
    top: 40px;
    font-size: 35px;
  }
  body main .contenedor .derecha .contenedor-reset {
    width: 100%;
    position: absolute;
    bottom: 1.5rem;
  }
  body main .contenedor .derecha .contenedor-reset .reset {
    text-align: center;
    margin: auto;
    width: 80%;
    display: block;
    text-decoration: none;
    padding: 5px 0;
    font-size: 24px;
    border-radius: 5px;
    color: #00494d;
  }
}

@media screen and (max-width: 950px) {
  body main .contenedor {
    width: 100%;
  }
  body main .derecha .input-total, body main .derecha .input-amount {
    font-size: 34px;
  }
  body main .derecha .contenedor-amount {
    top: 10px;
    left: 3%;
  }
  body main .derecha .contenedor-amount .texto-pr, body main .derecha .contenedor-amount .texto-sc {
    font-size: 16px;
  }
  body main .derecha .contenedor-total {
    top: 90px;
    left: 3%;
  }
  body main .derecha .contenedor-total .texto-pr, body main .derecha .contenedor-total .texto-sc {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  body main .contenedor {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .contenedor .izquierda, body main .contenedor .derecha {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  body main .contenedor .izquierda .contenedor-botones .button, body main .contenedor .izquierda .contenedor-botones .custom {
    vertical-align: middle;
    width: 47%;
  }
  body main .contenedor .derecha .input-total, body main .contenedor .derecha .input-amount {
    font-size: 25px;
  }
  body main .contenedor .derecha .input-total {
    right: 10%;
    top: 135px;
  }
  body main .contenedor .derecha .input-amount {
    right: 10%;
    top: 55px;
  }
}

@media screen and (max-width: 380px) {
  body main .contenedor .derecha .texto-pr, body main .contenedor .derecha .texto-sc {
    font-size: 14px;
  }
  body main .contenedor .derecha .input-total, body main .contenedor .derecha .input-amount {
    font-size: 20px;
  }
  body main .contenedor .derecha .input-total {
    right: 10%;
    top: 130px;
  }
  body main .contenedor .derecha .input-amount {
    right: 10%;
    top: 50px;
  }
}
/*# sourceMappingURL=estilos.css.map */