$typeFont: 'Space Mono', monospace;
$colorPrimary: hsl(172, 67%, 45%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    background: hsl(185, 41%, 84%);
    font-family: $typeFont;
    text-align: center;
    
    .contenedor{
        background: hsl(0, 0%, 100%);
        text-align-last: left;
        padding: 20px;
        width: 70%;
        margin: auto;
        border-radius: 30px;
        display: flex;
        justify-content: space-around;
        .texto{
            color: hsl(200, 1%, 51%);
            font-family: $typeFont;
            font-weight: 600;
        }
        
        .contenedor-botones{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            .general-form{
                width: 30%;
                height: 40px;
                margin: 5px 0;
                border-radius: 5px;
                font-family: $typeFont;
                font-size: 24px;
                color: hsl(0, 0%, 100%);
                border: none;
                text-align: center;
            }
    
            .button{
                background: hsl(183, 100%, 15%);
                color: hsl(0, 0%, 100%);
                text-decoration: none;
            }
            
            .custom{
                outline: none;
                color: hsl(200, 1%, 51%);
            }
        }

    }
    
}

h1{
    font-size: 28px;
    margin: 80px 0 40px 0;
}

//Contribuciones
.attribution { 
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}