$typeFont: 'Space Mono', monospace;
$colorPrimary: hsl(172, 67%, 45%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//body main .contenedor .izquierda .contenedor_bill .input
body{
    background: hsl(185, 41%, 84%);
    font-family: $typeFont;
    margin-bottom: 20px;
    main{
        .contenedor{
            background: hsl(0, 0%, 100%);
            text-align:justify;
            padding: 30px;
            width: 70%;
            margin: auto;
            margin-bottom: 20px;
            border-radius: 30px;
            display: flex;
            justify-content: space-around;
            
            .texto{
                color: hsl(200, 1%, 51%);
                font-family: $typeFont;
                font-weight: 600;
                margin-top: 20px;
                font-size: 20px;
            }

            .izquierda{
                width: 48%;
                margin-right: 5px;
                .input{
                    text-align: right;
                    border-style: none;
                    font-size: 24px;
                    background:hsla(183, 100%, 15%, 0.131);
                    width: 100%;
                    height: 50px;
                    color: hsl(183, 100%, 15%);
                    outline: none;
                    padding-right: 20px;
                }
                .contenedor_bill{
                    margin-bottom: 30px;
                    // text-align: right;
                    .dolar{
                        position: absolute;
                        font-size: 24px;
                        margin: 12px 0 0 5px;
                        color: hsla(183, 100%, 15%, 0.412);
                        // top: 5px;
                    }
                
                }
                .contenedor-botones{

                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    margin-top: 10px;
                    a{
                        display: inline-block;
                        text-align: center;
                    }
                    .general-form{
                        width: 30%;
                        height: 40px;
                        margin: 5px 0;
                        border-radius: 5px;
                        font-family: $typeFont;
                        font-size: 24px;
                        color: hsl(0, 0%, 100%);
                        border: none;
                        align-items: center;
                    }
        
                    .button{
                        background: hsl(183, 100%, 15%);
                        color: hsl(0, 0%, 100%);
                        text-decoration: none;
                        // padding-left: 45px;
                        // text-align: center;
                    }
                    
                    .custom{
                        outline: none;
                        color: hsl(183, 100%, 15%);
                        background: hsl(0, 4%, 81%);
                        text-align: center;
                    }
                }
                
                .contenedor-people{
                    
                    .persona{
                        position: absolute;
                        font-size: 24px;
                        margin: 22px 0 0 5px;
                        color: hsla(183, 100%, 15%, 0.412);
                        // top: 5px;
                    }
                    .numPeople{
                        margin-top: 10px;
                    }
                }
            }
            .derecha{
                background: hsl(183, 100%, 15%);
                width: 48%;
                border-radius: 10px;
                padding: 20px;
                flex-wrap: wrap;
                flex-direction: row;
                .texto-pr{
                    color: hsla(0, 0%, 100%, 0.802);
                    font-size: 20px;
                    margin: 30px 0 0 20px;
                }
                .texto-sc{
                    color: hsl(186, 14%, 43%);
                    margin-left: 20px;
                }
                // .contenedor-amount{
                //     position:absolute;
                // }
                .input-total,.input-amount{
                    font-size: 30px;
                    text-align: right;
                    // margin: auto;
                    margin-left: 20px;
                }
                .contenedor-reset{
                    width: 100%;
                    position: relative;
                    top: 4rem;
                    .reset{
                        text-align: center;
                        margin: auto;
                        width: 80%;
                        display:block;
                        text-decoration: none;
                        padding: 5px 0;
                        font-size: 24px;
                        background: $colorPrimary;
                        border-radius: 5px;
                        color:hsl(183, 100%, 15%);
                    }
                }
                
            }
    
        }
    }
    
}



h1{
    font-size: 24px;
    margin: 80px 0 40px 0;
    font-weight: 200;
    color: hsl(183, 100%, 15%);
    text-align: center;
}

//Contribuciones
.attribution { 
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}